<a href="https://colab.research.google.com/github/data602sps/datasetspractice/blob/main/07_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section. 

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html 

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

The dataset being used contains player information from the NBA. It includes the following columns:

- **Name**: The name of the player.
- **Team**: The team the player is associated with, in this case, all players belong to the Boston Celtics.
- **Number**: The jersey number of the player.
- **Position**: The player's position on the team, such as point guard (PG), small forward (SF), etc.
- **Age**: The age of the player.
- **Height**: The height of the player, typically in feet and inches.
- **Weight**: The player's weight in pounds.
- **AlmaMater**: The college the player attended (if applicable).
- **Salary**: The player's salary in USD (some values are missing).

### Source of the Data
The dataset was part of the zip file

### Reason for Choosing This Dataset
I chose this dataset because I like basketball

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

In [58]:
# Import pandas
import pandas as pd

In [59]:
# Read CSV
df = pd.read_csv('nba.csv')

# Display the first few rows of the dataframe
print(df.head())

# Get summary statistics
print(df.describe())

# Check for missing values
print(df.isnull().sum())

# Get information about the dataset
print(df.info())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0
           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07
Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB
None

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. 
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

In [60]:
# Q1: Modify multiple column names
# Renaming columns for easier access
df.rename(columns={
    'Name': 'PlayerName',
    'Team': 'TeamName',
    'Number': 'PlayerNumber',
    'Position': 'PlayerPosition',
    'College': 'CollegeName'
}, inplace=True)

print(df.head())

      PlayerName        TeamName  PlayerNumber PlayerPosition   Age Height  \
0  Avery Bradley  Boston Celtics           0.0             PG  25.0    6-2
1    Jae Crowder  Boston Celtics          99.0             SF  25.0    6-6
2   John Holland  Boston Celtics          30.0             SG  27.0    6-5
3    R.J. Hunter  Boston Celtics          28.0             SG  22.0    6-5
4  Jonas Jerebko  Boston Celtics           8.0             PF  29.0   6-10

   Weight        CollegeName     Salary
0   180.0              Texas  7730337.0
1   235.0          Marquette  6796117.0
2   205.0  Boston University        NaN
3   185.0      Georgia State  1148640.0
4   231.0                NaN  5000000.0

In [61]:
# Q2: Modify data Structure

# Check the structure and data types

original_df = df.copy(deep=True)
print(original_df.info())

# Convert playernumber to integer if playernumber are whole numbers
df['PlayerNumber'] = df['PlayerNumber'].fillna(0).astype(int)

# Convert Age to integer if ages are whole numbers
df['Age'] = df['Age'].fillna(0).astype(int)

# AlmaMater Column: This column has missing values (373 non-null out of 458)

# Salary Column: This column has missing values (446 non-null out of 458)

# Check the structure and data types after changes
print("\n###Changes###")

print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PlayerName      457 non-null    object
 1   TeamName        457 non-null    object
 2   PlayerNumber    457 non-null    float64
 3   PlayerPosition  457 non-null    object
 4   Age             457 non-null    float64
 5   Height          457 non-null    object
 6   Weight          457 non-null    float64
 7   CollegeName     373 non-null    object
 8   Salary          446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB
None

###Changes###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PlayerName      457 non-null    object
 1   TeamName        457 non-null    object
 2   PlayerNumber    458 non-null    int32
 3   PlayerPosition  457 non-null    object
 4   Age             458 non-null    int32
 5   Height          457 non-null    object
 6   Weight          457 non-null    float64
 7   CollegeName     373 non-null    object
 8   Salary          446 non-null    float64
dtypes: float64(2), int32(2), object(5)
memory usage: 28.8+ KB
None
      PlayerName        TeamName  PlayerNumber PlayerPosition  Age Height  \
0  Avery Bradley  Boston Celtics             0             PG   25    6-2
1    Jae Crowder  Boston Celtics            99             SF   25    6-6
2   John Holland  Boston Celtics            30             SG   27    6-5
3    R.J. Hunter  Boston Celtics            28             SG   22    6-5
4  Jonas Jerebko  Boston Celtics             8             PF   29   6-10

   Weight        CollegeName     Salary
0   180.0              Texas  7730337.0
1   235.0          Marquette  6796117.0
2   205.0  Boston University        NaN
3   185.0      Georgia State  1148640.0
4   231.0                NaN  5000000.0

In [62]:
# Q3. Fix missing and invalid values in data.

# Fill missing values or drop rows with missing values
df['CollegeName'].fillna('Unknown', inplace=True)
df['Salary'].fillna(df['Salary'].median(), inplace=True)

# Alternatively, drop rows with missing values
df.dropna(inplace=True)

# Check if there are any remaining missing values
missing_values = df.isna().sum()

# Print the number of missing values per column
print("Missing values per column:")
print(missing_values)

Missing values per column:
PlayerName        0
TeamName          0
PlayerNumber      0
PlayerPosition    0
Age               0
Height            0
Weight            0
CollegeName       0
Salary            0
dtype: int64

In [63]:
# Q4. Create new columns based on existing columns or calculations.

# Create a new column for Height in inches
df['HeightInches'] = df['Height'].apply(lambda x: int(x.split('-')[0]) * 12 + int(x.split('-')[1]))

# Create a new column for Salary in millions
df['SalaryInMillions'] = df['Salary'] / 1_000_000

# Round the SalaryInMillions column to 2 decimal places
df['SalaryInMillions'] = df['SalaryInMillions'].round(2)

print(df.head())

      PlayerName        TeamName  PlayerNumber PlayerPosition  Age Height  \
0  Avery Bradley  Boston Celtics             0             PG   25    6-2
1    Jae Crowder  Boston Celtics            99             SF   25    6-6
2   John Holland  Boston Celtics            30             SG   27    6-5
3    R.J. Hunter  Boston Celtics            28             SG   22    6-5
4  Jonas Jerebko  Boston Celtics             8             PF   29   6-10

   Weight        CollegeName     Salary  HeightInches  SalaryInMillions
0   180.0              Texas  7730337.0            74              7.73
1   235.0          Marquette  6796117.0            78              6.80
2   205.0  Boston University  2839073.0            77              2.84
3   185.0      Georgia State  1148640.0            77              1.15
4   231.0            Unknown  5000000.0            82              5.00

In [72]:
# Q5. Drop column(s) from your dataset.

# Drop a column
df.drop(columns=['SalaryInMillions'], inplace=True)

print(df.head())

      PlayerName        TeamName  PlayerNumber PlayerPosition  Age Height  \
0  Avery Bradley  Boston Celtics             0             PG   25    6-2
1    Jae Crowder  Boston Celtics            99             SF   25    6-6
2   John Holland  Boston Celtics            30             SG   27    6-5
3    R.J. Hunter  Boston Celtics            28             SG   22    6-5
4  Jonas Jerebko  Boston Celtics             8             PF   29   6-10

   Weight        CollegeName     Salary  HeightInches
0   180.0              Texas  7730337.0            74
1   235.0          Marquette  6796117.0            78
2   205.0  Boston University  2839073.0            77
3   185.0      Georgia State  1148640.0            77
4   231.0            Unknown  5000000.0            82

In [75]:
# Q6. Drop a row(s) from your dataset.

# Identify rows where Age is greater than 40
rows_to_drop = df[df['Age'] > 39]

# Drop rows where Age is greater than 40
df = df[df['Age'] <= 39]

# Print the rows that were dropped
print("Rows dropped:")
print(rows_to_drop)

Rows dropped:
        PlayerName                TeamName  PlayerNumber PlayerPosition  Age  \
298     Tim Duncan       San Antonio Spurs            21              C   40
304   Andre Miller       San Antonio Spurs            24             PG   40
400  Kevin Garnett  Minnesota Timberwolves            21             PF   40

    Height  Weight  CollegeName     Salary  HeightInches
298   6-11   250.0  Wake Forest  5250000.0            83
304    6-3   200.0         Utah   250750.0            75
400   6-11   240.0      Unknown  8500000.0            83

In [78]:
# Q7. Sort your data based on multiple variables. 

# Sort by TeamName and Age
df.sort_values(by=['TeamName', 'Age'], ascending=[True, False], inplace=True)

print(df)

          PlayerName            TeamName  PlayerNumber PlayerPosition  Age  \
311     Kirk Hinrich       Atlanta Hawks            12             SG   35
314      Kyle Korver       Atlanta Hawks            26             SG   35
320  Thabo Sefolosha       Atlanta Hawks            25             SF   32
313   Kris Humphries       Atlanta Hawks            43             PF   31
315     Paul Millsap       Atlanta Hawks             4             PF   31
..               ...                 ...           ...            ...  ...
382        John Wall  Washington Wizards             2             PG   25
371     Jarell Eddie  Washington Wizards             8             SG   24
378  Otto Porter Jr.  Washington Wizards            22             SF   23
369     Bradley Beal  Washington Wizards             3             SG   22
377  Kelly Oubre Jr.  Washington Wizards            12             SF   20

    Height  Weight     CollegeName      Salary  HeightInches
311    6-4   190.0          Kansas   2854940.0            76
314    6-7   212.0       Creighton   5746479.0            79
320    6-7   220.0         Unknown   4000000.0            79
313    6-9   235.0       Minnesota   1000000.0            81
315    6-8   246.0  Louisiana Tech  18671659.0            80
..     ...     ...             ...         ...           ...
382    6-4   195.0        Kentucky  15851950.0            76
371    6-7   218.0   Virginia Tech    561716.0            79
378    6-8   198.0      Georgetown   4662960.0            80
369    6-5   207.0         Florida   5694674.0            77
377    6-7   205.0          Kansas   1920240.0            79

[454 rows x 10 columns]

In [81]:
# Q8. Filter your data based on some condition. 

# Filter for players with salary greater than 10,000,000
df_filtered = df[df['Salary'] > 10000000]

print(df_filtered)

         PlayerName            TeamName  PlayerNumber PlayerPosition  Age  \
315    Paul Millsap       Atlanta Hawks             4             PF   31
312      Al Horford       Atlanta Hawks            15              C   30
5      Amir Johnson      Boston Celtics            90             PF   29
23      Brook Lopez       Brooklyn Nets            11              C   28
29   Thaddeus Young       Brooklyn Nets            30             PF   27
..              ...                 ...           ...            ...  ...
448  Gordon Hayward           Utah Jazz            20             SF   26
446  Derrick Favors           Utah Jazz            15             PF   24
375    Nene Hilario  Washington Wizards            42              C   33
373   Marcin Gortat  Washington Wizards            13              C   32
382       John Wall  Washington Wizards             2             PG   25

    Height  Weight     CollegeName      Salary  HeightInches
315    6-8   246.0  Louisiana Tech  18671659.0            80
312   6-10   245.0         Florida  12000000.0            82
5      6-9   240.0         Unknown  12000000.0            81
23     7-0   275.0        Stanford  19689000.0            84
29     6-8   221.0    Georgia Tech  11235955.0            80
..     ...     ...             ...         ...           ...
448    6-8   226.0          Butler  15409570.0            80
446   6-10   265.0    Georgia Tech  12000000.0            82
375   6-11   250.0         Unknown  13000000.0            83
373   6-11   240.0         Unknown  11217391.0            83
382    6-4   195.0        Kentucky  15851950.0            76

[71 rows x 10 columns]

In [82]:
# Q9. Convert all the string values to upper or lower cases in one column.

# Convert college names to uppercase
df['CollegeName'] = df['CollegeName'].str.upper()

print(df)

          PlayerName            TeamName  PlayerNumber PlayerPosition  Age  \
311     Kirk Hinrich       Atlanta Hawks            12             SG   35
314      Kyle Korver       Atlanta Hawks            26             SG   35
320  Thabo Sefolosha       Atlanta Hawks            25             SF   32
313   Kris Humphries       Atlanta Hawks            43             PF   31
315     Paul Millsap       Atlanta Hawks             4             PF   31
..               ...                 ...           ...            ...  ...
382        John Wall  Washington Wizards             2             PG   25
371     Jarell Eddie  Washington Wizards             8             SG   24
378  Otto Porter Jr.  Washington Wizards            22             SF   23
369     Bradley Beal  Washington Wizards             3             SG   22
377  Kelly Oubre Jr.  Washington Wizards            12             SF   20

    Height  Weight     CollegeName      Salary  HeightInches
311    6-4   190.0          KANSAS   2854940.0            76
314    6-7   212.0       CREIGHTON   5746479.0            79
320    6-7   220.0         UNKNOWN   4000000.0            79
313    6-9   235.0       MINNESOTA   1000000.0            81
315    6-8   246.0  LOUISIANA TECH  18671659.0            80
..     ...     ...             ...         ...           ...
382    6-4   195.0        KENTUCKY  15851950.0            76
371    6-7   218.0   VIRGINIA TECH    561716.0            79
378    6-8   198.0      GEORGETOWN   4662960.0            80
369    6-5   207.0         FLORIDA   5694674.0            77
377    6-7   205.0          KANSAS   1920240.0            79

[454 rows x 10 columns]

In [83]:
# Q10. Check whether numeric values are present in a given column of your dataframe.

# Check for numeric values
is_numeric = df['Age'].notna().any()

print(f"Does 'Age' column contain numeric values? {is_numeric}")

Does 'Age' column contain numeric values? True

In [84]:
# Q11. Group your dataset by one column, and get the mean, min, and max values by group. 
  # * Groupby()
  # * agg() or .apply()
  
grouped = df.groupby('TeamName').agg({
    'Salary': ['mean', 'min', 'max']
})
print(grouped)

                              Salary
                                mean        min         max
TeamName
Atlanta Hawks           4.860197e+06   525093.0  18671659.0
Boston Celtics          4.092009e+06  1148640.0  12000000.0
Brooklyn Nets           3.501898e+06   134215.0  19689000.0
Charlotte Hornets       5.222728e+06   189455.0  13500000.0
Chicago Bulls           5.785559e+06   525093.0  20093064.0
Cleveland Cavaliers     7.321851e+06   111196.0  22970500.0
Dallas Mavericks        4.746582e+06   525093.0  16407500.0
Denver Nuggets          4.197400e+06   258489.0  14000000.0
Detroit Pistons         4.477884e+06   111444.0  16000000.0
Golden State Warriors   5.924600e+06   289755.0  15501000.0
Houston Rockets         5.018868e+06   200600.0  22359364.0
Indiana Pacers          4.450122e+06   211744.0  17120106.0
Los Angeles Clippers    6.323643e+06   111444.0  21468695.0
Los Angeles Lakers      4.784695e+06   525093.0  25000000.0
Memphis Grizzlies       4.883732e+06   700902.0  19688000.0
Miami Heat              5.879588e+06   261894.0  22192730.0
Milwaukee Bucks         4.350220e+06   295327.0  16407500.0
Minnesota Timberwolves  4.157598e+06   947276.0  12700000.0
New Orleans Pelicans    4.355304e+06    55722.0  15514031.0
New York Knicks         4.581494e+06    30888.0  22875000.0
Oklahoma City Thunder   6.251020e+06   222888.0  20158622.0
Orlando Magic           4.297248e+06   845059.0  11250000.0
Philadelphia 76ers      2.255464e+06   525093.0   6500000.0
Phoenix Suns            4.229676e+06    55722.0  13500000.0
Portland Trail Blazers  3.220121e+06   525093.0   8042895.0
Sacramento Kings        4.778911e+06   525093.0  15851950.0
San Antonio Spurs       6.072460e+06   200600.0  19689000.0
Toronto Raptors         4.741174e+06   245177.0  13600000.0
Utah Jazz               4.204006e+06   900000.0  15409570.0
Washington Wizards      5.088576e+06   200600.0  15851950.0

In [85]:
# Q12. Group your dataset by two columns and then sort the aggregated results within the groups. 

# Group by TeamName and PlayerPosition, then get mean PlayerSalary
grouped_sorted = df.groupby(['TeamName', 'PlayerPosition']).agg({
    'Salary': 'mean'
}).sort_values(by=['TeamName', 'Salary'], ascending=[True, False])
print(grouped_sorted)

                                         Salary
TeamName           PlayerPosition
Atlanta Hawks      C               7.585417e+06
                   PF              5.988067e+06
                   PG              4.881700e+06
                   SF              3.000000e+06
                   SG              2.607758e+06
...                                         ...
Washington Wizards PG              9.011208e+06
                   C               8.163476e+06
                   PF              5.650000e+06
                   SG              2.839248e+06
                   SF              2.789700e+06

[149 rows x 1 columns]

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?

### Conclusions:

After exploring the NBA dataset, a few key insights stand out:

1. **Salary Distribution**: There is a notable variance in player salaries, with some players earning significantly more than others. We filled missing salary values with the average salary, which helped in standardizing the dataset for analysis.

2. **Missing Data**: Several players had missing data for their college names or salaries. While the college names were filled with "Unknown," the missing salary data was addressed by substituting with the minimum salary. This is a good temporary fix, but further investigation into the accuracy of salary data would be beneficial.

3. **Player Attributes**: Height and weight were relatively uniform across positions but could still show interesting trends if analyzed further in relation to performance or salary. For instance, we can try to analyze if taller players tend to have salary, and likewise with weight

4. **Position/College/Team attribute**: We can further analyze each of the coloumns to determine if certain positions/college/team players have salary in contrast to other players in the same role

### Further Exploration:

With more time, I would explore the following:
- **Performance Data**: Incorporate performance metrics such as points per game, rebounds, or assists to analyze how salary correlates with player performance.
- **Salary Cap Analysis**: Study how teams manage salary caps, looking for patterns in salary allocation across different positions and teams.
- **Height and Weight Analysis**: Investigate how player height and weight impact their performance, position assignments, and salary.
- **Career Trajectories**: Analyze player age and experience to explore how these factors influence salary growth over time.
- **Advanced Analytics**: Utilize machine learning models to predict player salaries or career longevity based on their physical attributes and performance data.